<div class="globalBox">
   <div class="globalBoxHead">CLAIM PHOTO CAPTURED</div>
   <div class="globalBoxBody">
      <h3 class="text-center head3">NICE PHOTOS</h3>
      <p class="mb0">A fast and easy way to capture your claim photos and documents!</p>
   </div>
   <div class="backColorOverlay">
      <span style="width:70%;"></span>
   </div>
   <div class="globalBoxBody">
      <p class="mb10 lineHeight1">Claim No: <span><%= @claim.id %></span></p>
      <p class="mb10 lineHeight1"><%= @claim.title %></p>
      <h3 class="head4">Photo uploaded/captured</h3>
   </div>
   <div class="photoCaptureBox bgGray d-flex flex-wrap mb15">
      <!-- captureImageBox Start -->
      <% @claim.images.each do |f| %>
      <div class="captureImageBox">
         <!-- <label>Image Detail:<span><%#= f.detail %></span></label> -->
         <div class="captureBox">
            <img src="<%= f.file_url %>" alt="images"/><i class="fa fa-close" style="font-size:48px;color:red"></i>
            <!-- <input type="file"/> -->
         </div>
      </div>
      <% end %>
      <!-- captureImageBox End --> 
   </div>
</div>